/*body {background: #FFF;}*/
p.breakline {
    white-space: pre-wrap;
    word-break: normal;
}

#delete-button {
    float: left;
}

.wrapper {
    display: inline;
}

.title-subpage {
    color: white;
}
